# Ansible Content Overview

Available as a [GitHub Pages Site](https://diademiemi.github.io/ansible-content/)

## Roles
{% for role in content.ansible_content.roles %}
- [**{{ role.name }}**]({{ role.gh_url }}) - {{ role.status }} {% if role.ci_badge %} [![CI Badge]({{ role.ci_badge }})]({{ role.ci_url }}){% endif %}
{% endfor %}

## Collections
{% for collection in content.ansible_content.collections %}
- [**{{ collection.name }}**]({{ collection.gh_url }}) - {{ collection.status }}
  - Roles:
    {% for role in collection.roles %}
    - [**{{ role.name }}**]({{ role.gh_url }}) - {{ role.status }} {% if role.ci_badge %} [![CI Badge]({{ role.ci_badge }})]({{ role.ci_url }}){% endif %}
    {% endfor %}
{% endfor %}

